body {
    background-color: #010001;
    margin: 0;
    padding-top: 54px;
    font-family: Roboto, sans-serif;
    color: #fff;
}
.header {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; 
}
 .list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.item-link{
    color:#fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}
.secondary-nav .item-link {
    color: #808080;
}
.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
    
}
.title {
    margin: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}
.description {
    margin: auto;
    font-style: normal;
    font-weight: 300;
    max-width: 268px;
    height: 44px;
    font-size: 16px;
    line-height: 140%;    
}
.description::after{
    margin: auto;
    margin-top: 26px;
    content: "";
    display: block;
    width:1px;
    height: 60px;
    background-color: #fff;
}
.video {
    height: 750px;
    max-width: 1230px;
    width: 90%;
    margin: auto;
}
.features {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding-top: 250px  ;
}
.features-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
/* or 34px */
    text-transform: uppercase;
    margin-bottom: 45px;
}
.table {
    margin-bottom: 200px;    
}
.table-column {
    width: 300px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}
.features-text {
    width: 490px;
    height: 145px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
   font-size: 16px;
    line-height: 29px;
}
.rocket {
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.footer {
    font-family: Roboto;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .logo {
    padding-bottom: 43px;
}
.footer-nav {
/*    padding-bottom: 28px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav .item-link {
    font-size: 18px;
    line-height: 21px;
}
.footer-text {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
    margin: 23px 0 18px 0;
}
.footer-link{
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
}
.button {
    color: #fff; 
    padding: 20px;
    min-width: 260px;
    min-height: 60px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
}
@media (max-width: 960px) {
    .rocket {
        max-width: 200px;
    }
    .table-column {
        width: 180px;
    }
}
@media (max-width: 780px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
        margin-bottom: 15px;
    }
}
@media (max-width: 576px) {
    .main {
        padding: 60px;
    }
    .main .title {
        font-size: 32px;
        line-height: 28px;
    }
    .video {
        height: 350px;
        max-width: 570px;
    }
    .features {
        padding: 0;
    }
    .features-title {
        font-size: 16px;
        line-height: 20px;
    }
    .features .table-column {
        font-size: 12px;
        line-height: 14px;
    }
    .rocket {
        position: static;
        margin-bottom: 40px;
    }
    .table {
        margin-bottom: 0;
    }
   .footer-nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
} 